<?php

return array(
    '/code/:id' => '\\Taxonomia\\Controller\\Taxonomia:code',
    '/busca/:descricao/:tipo' => '\\Taxonomia\\Controller\\Taxonomia:busca',
    '/inserir' => '\\Taxonomia\\Controller\\Taxonomia:inserir',
);